<div class="container-fluid text-center bg-grey" id="checkStress">
  <h2>Check Here</h2>
 
  <div class="row text-center slideanim">
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="../../assets/images/happy_screensaver_background_002.jpg" alt="Paris">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
        <div class="radio">
            <label id="lbl"><input type="radio" name="q1Radio1" checked>yes </label>
            <label><input type="radio" name="q1Radio1">No</label>
          </div>
         
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="newyork.jpg" alt="New York">
        <p><strong>New York</strong></p>
        <p>We built New York</p>
        <div class="radio">
          <label id="lbl"><input type="radio" name="q2Radio2" checked>yes </label>
          <label><input type="radio" name="q2Radio2">No</label>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="sanfran.jpg" alt="San Francisco">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
        <div class="radio">
          <label id="lbl"><input type="radio" name="q3Radio3" checked>yes </label>
          <label><input type="radio" name="q3Radio3">No</label>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="sanfran.jpg" alt="San Francisco">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
        <div class="radio">
          <label id="lbl"><input type="radio" name="q4Radio4" checked>yes </label>
          <label><input type="radio" name="q4Radio4">No</label>
        </div>
      </div>
    </div>
</div>

<div class="row text-center slideanim">
  <div class="col-sm-3">
    <div class="thumbnail">
      <img src="../../assets/images/happy_screensaver_background_002.jpg" alt="Paris">
      <p><strong>Paris</strong></p>
      <p>Yes, we built Paris</p>
      <button type="submit">yes</button>
      <button type="submit">no</button>
      <div class="radio">
        <label id="lbl"><input type="radio" name="q5Radio5" checked>yes </label>
        <label><input type="radio" name="q5Radio5">No</label>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <img src="newyork.jpg" alt="New York">
      <p><strong>New York</strong></p>
      <p>We built New York</p>
      <div class="radio">
        <label id="lbl"><input type="radio" name="q6Radio6" checked>yes </label>
        <label><input type="radio" name="q6Radio6">No</label>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <img src="sanfran.jpg" alt="San Francisco">
      <p><strong>San Francisco</strong></p>
      <p>Yes, San Fran is ours</p>
      <div class="radio">
        <label id="lbl"><input type="radio" name="q7Radio7" checked>yes </label>
        <label><input type="radio" name="q7Radio7">No</label>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="thumbnail">
      <img src="sanfran.jpg" alt="San Francisco">
      <p><strong>San Francisco</strong></p>
      <p>Yes, San Fran is ours</p>
      <div class="radio">
        <label id="lbl"><input type="radio" name="q8Radio8" checked>yes </label>
        <label><input type="radio" name="q8Radio8">No</label>
      </div>
    </div>
  </div>
</div>

<div class="row text-center slideanim">
  <div class="col-sm-3">
    <div class="thumbnail">
      <img src="../../assets/images/happy_screensaver_background_002.jpg" alt="Paris">
      <p><strong>Paris</strong></p>
      <p>Yes, we built Paris</p>
      <div class="radio">
        <label id="lbl"><input type="radio" name="q9Radio9" checked>yes </label>
        <label><input type="radio" name="q9Radio9">No</label>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <img src="newyork.jpg" alt="New York">
      <p><strong>New York</strong></p>
      <p>We built New York</p>
      <div class="radio">
        <label id="lbl"><input type="radio" name="q10Radio10" checked>yes </label>
        <label><input type="radio" name="q10Radio10">No</label>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <img src="sanfran.jpg" alt="San Francisco">
      <p><strong>San Francisco</strong></p>
      <p>Yes, San Fran is ours</p>
      <div class="radio">
        <label id="lbl"><input type="radio" name="q11Radio11" checked>yes </label>
        <label><input type="radio" name="q11Radio11">No</label>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="thumbnail">
      <img src="sanfran.jpg" alt="San Francisco">
      <p><strong>San Francisco</strong></p>
      <p id="demo">Yes, San Fran is ours</p>
      <div class="radio">
        <label id="lbl"><input type="radio" name="q12Radio12" checked>yes </label>
        <label><input type="radio" name="q12Radio12">No</label>
      </div>
    </div>
  </div>
</div>
<button onclick="myFunction()">Try it</button>
</div>