<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stress controller system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">


</head>
<body id="myPage" date-spy="scroll" data-target=".navbar" data-offset="20">

  <div id="myDIVpage">
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>

        <li><a href="#myCarousel">CUSTOMER IDEAS</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="login" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="xxx()">&times;</a>
    <div class="overlay-content">
        <div class="container-fluid slide text-center" style="padding: 0 20% 0 20%;">
            <form class="form-horizontal"  #loginForm ="ngForm" (ngSubmit)="onSignIn(loginForm.value)">

              <div class="form-group">
                <label class="control-label col-sm-2" for="uname">Username:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="uname"  name="uname"  [(ngModel)]="uname" placeholder="Enter Username" required>
                </div>
                <!--<span class="help-block" *ngIf="uname.touched && uname.errors?.required">Username is required</span>-->
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)] = "pwd" placeholder="Enter password" required>
                </div>
                <!--<span class="help-block" *ngIf="pwd.touched && pwd.errors?.required">Password is required</span>-->
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" id="login" [disabled] = "!loginForm.valid">Submit</button>
                </div>
              </div>
            </form>
        </div>
        {{signinerrorMsg}}

    </div>
  </div>



  <div id="Sign_Up" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSignUP()">&times;</a>
      <div class="overlay-content">
          <div class="container-fluid slide text-center" style="padding: 0 10% 0 10%;">
              <form class="form-horizontal"  #signupForm="ngForm" (ngSubmit)="onSignUp(signupForm.value)">

                <div class="form-group">
                    <form action="" method="post" enctype="multipart/form-data">

                      <label class="control-label col-sm-2" for="profile_pic_name">Upload Image:</label>
                      <div class="col-sm-10">
                          <input type="file" id="profile_pic_name" name="profile_pic_name" name="profile_pic_name"  (change) ="onSelected($event)" />
                          <input type="submit" name='submit_image' value="Upload Image"/>
                        </div>
                     </form>
                  </div>

                  <div class="form-group" [class.has-error]="name.touched && name.invalid">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="name" #name= "ngModel" name="name" [(ngModel)]="user.name" placeholder="Enter Name" required/>
                        </div>
                       <span class="help-block" *ngIf="name.touched && name.errors?.required">Name is required</span>
                      </div>


                <div class="form-group" [class.has-error]="email.touched && email.invalid">
                  <label class="control-label col-sm-2" for="email">Email:</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" #email="ngModel" name="email" [(ngModel)]="user.email" placeholder="Enter email" required pattern="[^ @]*@[^ @]*">
                  </div>
                  <span class="help-block" *ngIf="email.touched && email.errors?.required">Email is required</span>
                </div>
                <div class="form-group" [class.has-error]="username.touched && username.invalid">
                    <label class="control-label col-sm-2" for="username">Username:</label>
                    <div class="col-sm-10">
                      <input type="username" class="form-control" id="username" #username="ngModel" name="username" [(ngModel)]="user.username" placeholder="Enter Username" required>
                    </div>
                    <span class="help-block" *ngIf="username.touched && username.errors?.required">Username is required</span>
                  </div>

                  <div class="form-group" [class.has-error]="password.touched && password.invalid">
                      <label class="control-label col-sm-2" for="password">Password:</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" #password="ngModel" name="password" [(ngModel)]="user.password" placeholder="Enter password" required>
                      </div>
                      <span class="help-block" *ngIf="password.touched && password.errors?.required">Password is required</span>
                    </div>

                    <div class="form-group" [class.has-error]="conpassword.touched && conpassword.invalid">
                        <label class="control-label col-sm-2" for="conpassword">Confirm Password:</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="conpassword" appConfirmvalidator="password" #conpassword="ngModel" [(ngModel)]="user.conpassword" name="conpassword" placeholder="Confirm password" required>
                        </div>
                        <span class="help-block" *ngIf="conpassword.touched && conpassword.errors?.required">Password is required</span>
                        <span class="help-block" *ngIf="conpassword.touched && conpassword.errors?.notEqual && !conpassword.errors?.required">Passwords Doesnot match</span>
                      </div>

                      <div class="form-group" [class.has-error]="job.touched && job.invalid">
                              <label class="control-label col-sm-2" for="job">Job:</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="job" #job="ngModel" name="job" [(ngModel)]="user.job" placeholder="Enter Your Job" required/>
                              </div>
                              <span class="help-block" *ngIf="job.touched && job.errors?.required">PLease fill out the job field</span>
                      </div>


                      <!--<div class="form-group">
                          <label class="control-label col-sm-2" for="age">Age:</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="age" placeholder="Enter Age">
                          </div>
                        </div>-->

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="gender">Gender :</label>
                            <div class="col-sm-10">
                                <p>
                                    <input id = "male" type = "radio" name = "gender"
                                       value = "male" [(ngModel)]="user.gender"/>
                                    <label for = "male"><h6 class="black" style="font-size: 15px;">Male</h6></label>

                                    <input id = "female" type = "radio" name = "gender"
                                       value = "female" [(ngModel)]= 'user.gender'/>
                                    <label for = "female"><h6 class="black" style="font-size: 15px;">Female</h6></label>
                                 </p>
                            </div>
                          </div>

                        <div class="form-group"[class.has-error]="address.touched && address.invalid">
                            <label class="control-label col-sm-2" for="address">Address:</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="address" #address= "ngModel" name="address" [(ngModel)]="user.address" placeholder="Enter Address" required>
                            </div>
                            <span class="help-block" *ngIf="address.touched && address.errors?.required">Address is required</span>
                          </div>

                          <div class="form-group" [class.has-error]="phone_number.touched && phone_number.invalid">
                              <label class="control-label col-sm-2" for="phone_number">Phone No:</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone_number" #phone_number="ngModel" name="phone_number" [(ngModel)]="user.phone_number" placeholder="Enter Phone No"required>
                              </div>
                              <span class="help-block" *ngIf="phone_number.touched && phone_number.errors?.required">Phone number is required</span>
                            </div>




                            <div class="form-group" [class.has-error]="birth_date.touched && birth_date.invalid">
                                <label class="control-label col-sm-2" for="birth_date">Birthday:</label>
                                <div class="col-sm-10">
                                  <input type="date" class="form-control" id="birth_date" #birth_date="ngModel" name="birth_date" [(ngModel)]="user.birth_date" placeholder="Enter Birthday" required>
                                </div>
                                <span class="help-block" *ngIf="birth_date.touched && birth_date.errors?.required">Birthday is required</span>
                              </div>




                                <div class="form-group">
                                            <label class="control-label col-sm-2" for="type">Type :</label>
                                            <div class="col-sm-10">
                                                <p>
                                                    <input id = "user" type = "radio" #type="ngModel" name = "type" [(ngModel)]="user.type"
                                                       value = "user" (click)="cuser=true"/>
                                                    <label for = "user"><h6 class="black" style="font-size: 15px;">User</h6></label>

                                                    <input id = "counceller" type = "radio" #type="ngModel" name = "type" [(ngModel)]="user.type"
                                                       value = "counceller" (click)="ccounceller=true"/>
                                                    <label for = "counceller"><h6 class="black" style="font-size: 15px;">Counceller</h6></label>
                                                 </p>
                                            </div>
                                            <!--<span class="help-block" *ngIf="type.touched && type.errors?.required">Type is required</span>-->
                                          </div>

                                        <div *ngIf="ccounceller">
                                          <div class="form-group">
                                              <label class="control-label col-sm-2" for="qualification">Qualification:</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" id="qualification" name="qualification" [(ngModel)]="user.qualification" placeholder="Enter qualification"/>
                                              </div>
                                          </div>

                                          <div class="form-group">
                                              <label class="control-label col-sm-2" for="certificate">Certificate:</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" id="certificate" name="certificate" [(ngModel)]="user.certificate" placeholder="Enter certificate"/>
                                              </div>
                                          </div>
                                        </div>


                                          <div class="form-group" *ngIf="cuser">
                                              <label class="control-label col-sm-2" for="guadiant_phone_number">Guardian Phone Number</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" id="guadiant_phone_number" name="guadiant_phone_number" [(ngModel)]="user.guadiant_phone_number" placeholder="Enter guadiant_phone_number"/>
                                              </div>
                                          </div>

                                          <!--<div class="form-group">
                                              <label class="control-label col-sm-2" for="gps">GPS</label>
                                              <div class="col-sm-10">
                                                <input type="text" class="form-control" id="gps" name="gps" [(ngModel)]="user.gps" placeholder="GPS"/>
                                              </div>
                                          </div>-->
                                          


                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="showweb" [disabled]="!signupForm.valid">Submit</button>
                  </div>
                </div>
              </form>
          </div>

          {{signuperrorMsg}}

      </div>
    </div>







    <div class="jumbotron text-center slide">
       
      <div class="row">
          <div class="col-sm-6">
              <h1 style="color:#5f87ce">Stress controller System</h1>
          <p style="color:#5f87ce">We specialize in stress peoples</p>
          <button class="btn success" onclick="openLogin()" id="showform">Login.</button>
          <button class="btn success" onclick="openSignUp()" id="showform">Sign Up</button>

            </div>
            <div class="col-sm-4 slide">
                <img src="../../assets/images/img-1.png"  alt="doc" id="doc">

              </div>
      </div>



    </div>




     <!--video-->











      <div id="about" class="container-fluid bg-grey" >
          <h2>ABOUT</h2>
          <h4 style="text-align: center;">What we offer</h4>
          <div class="row slideanim">

            <div class="col-sm-8 slide ">



              <h2>About  our stress controle system</h2>

              <p>

                Dont worry,this is our strss controll system is amazing system,that recognize your stress  level and
          give most surtable answer to decrese your stress level,<br>
          <span>
            This Web site contains information on the signs and symptoms of depression, treatment and support options, and a listing of additional resources. It is intended for informational purposes only and should not be considered a guide for making medical decisions. Please review this information
             and discuss it with your doctor or health care provider. For more information on depression,
          </span>
              </p>

            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-signal logo"></span>
            </div>
          </div>
        </div>

        <div   class="container-fluid bg-grey">
          <div class="row slideanim">
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-globe logo"></span>
            </div>
            <div class="col-sm-8">
              <h2>Our Mission</h2>
              <h4><strong>MISSION:</strong> Our mission  help individuals feel more in control through our powerful programmes.</h4>
              <p><strong>VISION:</strong>
                To be the leading centre of expertise in the World specializing in Anger Management, Emotional Management and Stress Management by delivering our effective programmes.
To bring Anger and Stress management to individuals all over the World and provide them the tools they need to manage emotions, behaviours, conflict and stress better.
To help improve relationships and empower individuals to have healthier and happier lives.

                </p>
            </div>
          </div>
        </div>








        <div id="services" class="container-fluid slide text-center " >
            <h2>SERVICES</h2>
            <h4>What we offer</h4>
            <br>
            <div class="row slideanim " >
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-qrcode  logo-small"></span>
                <h4>BLUETOOTH DEVICES</h4>
                <p>We can detect your stress level use a device</p>
              </div>
              <div class="col-sm-4 ">
                <span class="glyphicon glyphicon-heart logo-small"></span>
                <h4>LOVE</h4>
                <p>Our ambition</p>
              </div>
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-headphones logo-small"></span>
                <h4>CALM MUSIC</h4>
                <p>It is amazing advantage of this app</p>
              </div>
              </div>
              <br><br>
            <div class="row slideanim">
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-phone logo-small"></span>
                <h4>MOBILE APP</h4>
                <p>Using our mobile devices you can check your stress</p>
              </div>
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-certificate logo-small"></span>
                <h4>CERTIFIED</h4>
                <p>we certify good doctors for the stress</p>
              </div>
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-phone-alt logo-small"></span>
                <h4>Channel Doctors</h4>
                <p>Using our web site you can channel doctors</p>
              </div>
            </div>
          </div>


          <div class="container-fluid slideanim text-center bg-grey" id="portfolio" >
              <h2>Portfolio</h2>
              <h4>Our main target is beautiful and pleasureable world</h4>
              <div class="row text-center">
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <img src="../../assets/images/happy_screensaver_background_002.jpg" alt="Paris">
                    <p><strong>Happy </strong></p>
                    <p>you make happy use this app</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <img src="../../assets/images/happy_screensaver_background_029.jpg" alt="New York">
                    <p><strong>Calm</strong></p>
                    <p>if you very hard worker,please look your stress level</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <img src="../../assets/images/happy_screensaver_background_013.jpg" alt="San Francisco">
                    <p><strong>Love</strong></p>
                    <p>Stop your hard works,look about your own self</p>
                  </div>
                </div>
            </div>
            </div>


            <h2>What our users say</h2>
            <div id="myCarousel" class="carousel slide text-center bg-grey" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner slideanim" role="listbox">
                <div class="item active">
                <h4>"This apps are the best. I am so happy with the result!"<br><span style="font-style:normal;">Charith Madusanka, Vice President,Web app</span></h4>
                <img src="../../assets/images/4.jpg" style="border-radius: 50%;" id="xy">
                </div>
                <div class="item">
                  <h4>"Stree less word... WOW!!"<br><span style="font-style:normal;">Sachini hansamali, president, Wso2</span></h4>
                  <img src="../../assets/images/6.jpg" style="border-radius: 50%;" id="xy">
                </div>
                <div class="item">
                  <h4>"Could I... BE any more happy with this app?"<br><span style="font-style:normal;">Kasun Dilshan, Actor, Sri Lanka</span></h4>
                  <img src="../../assets/images/2.jpg" style="border-radius: 50%;" id="xy">
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>




<footer class="container-fluid text-center" >
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Web Theme Made By <a href="https://localhost:4200" >Stress Controller Web App</a></p>
  </footer>

</div>







</body>
</html>
