<div>
  <button (click)="onPressSend()">Send Message</button>
  <p>
    {{msgstatus}} {{msgerrormsg}}
  </p>
</div>


<div>
  <button (click)="onPressPatientDetails()">Get Patient Details</button>
  <p>
    {{ptdstatus}} {{detailerrormsg}}
  </p>
</div>

<div>
  <button (click)="onAddTrack()">Add Track</button>
  <p>
    {{trackstatus}} {{trackerrormsg}}
  </p>
</div>

<div>
  <button (click)="onResponse()">Send Booking response</button>
  <p>
    {{responsestatus}} {{responseerrormsg}}
  </p>
</div>

<div>
  <button (click)="onAddTip()">Add tip</button>
  <p>
    {{tipstatus}} {{tiperrormsg}}
  </p>
</div>
