.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #5f87ce;
  }
  
  .carousel-indicators li {
    border-color: 5f87ce;
  }
  
  .carousel-indicators li.active {
    background-color: #5f87ce;
  }
  .carousel-inner{
    background-image: url("../../assets/images/1.jpg");
   height: 580px;
  }
  #xy{
    margin-left:42%;
  }