<nav class="navbar navbar-inverse" data-offset-top="550" data-spy="affix" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="btn" onclick="openNav()">to My Profile</button>
      
    </div>
    
   
        <div class="icon-bar">
           
          <div class="btn-groupnav">
            <a href="#musicTherapy">Music Therapy</a>
            <a href="#checkStress">Check Stress</a>
            <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;" ><span class="glyphicon glyphicon-envelope"  ></span><p style="color: red;margin-bottom:-20px">1</p></button>
          </div>
          

       
        </div>
  </div>


</nav>


 





            <!--notification-->


            <div id="id02" class="modalnot">
              <div class="modalnot-contentnot animatenot">
               
                <div class="containernot">
                  <div class="chipnot">
                    <img src="../../assets/images/2.png" alt="Person" width="96" height="96">
                   hello i am map
                    <i>11.23pm</i>
                  </div>

                  <div class="chipnot">
                    <img src="../../assets/images/2.png" alt="Person" width="96" height="96">
                    hello i am map it ghgfdhh hdh gsgagghsh gfdsgdsg gsdf gg gdfsg ggt asttd
                    <i>11.23pm</i>
                  </div>

                  
                </div>
            
                <div class="containernot" style="background-color:#f1f1f1">
                  <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtnnot">Cancel</button>
                 
                </div>
              </div>
            
              
            </div>
            
            